.container {
  margin: auto;
  text-align: center;

}

.dice {
  text-align: center;
  display: inline-block;
  padding: 20px;
}

body {
  background-image: url(images/baize.jpg);
  background-size: cover;
  background-repeat: repeat-x;
}

h1 {
  font-family: 'Alegreya SC', serif;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: goldenrod;
  margin: 30px 0px 30px 0px;
}

p {
  color: whitesmoke;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2rem;
}

img {
  width: 200px;
}

#clickMe {
  position: relative;
  background-image: -webkit-linear-gradient(top, #f00e0c, #6c0c0c);
  background-image: -moz-linear-gradient(top, #f00e0c, #6c0c0c);
  background-image: -ms-linear-gradient(top, #f00e0c, #6c0c0c);
  background-image: -o-linear-gradient(top, #f00e0c, #6c0c0c);
  background-image: -webkit-gradient(to bottom, #f00e0c, #6c0c0c);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: whitesmoke;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2rem;
  padding: 15px 25px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 100px auto 75px auto;
  z-index: 1;
  border-style: none;
}

#clickMe:hover {
  zoom: 1.02;
}

#clickMe:active, #clickMe:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

